body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: pink;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.btn {
    background-color: pink;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ff69b4;
}

footer {
    background-color: pink;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
